div{
    border: 1px solid black;
    padding: 30px;
}
#id1 {
    background-color: mediumpurple;
    width: 600px;
}
#id2{
    background-color: aqua;
}
 #id3{
     background-color: cornflowerblue;
 }
 #id4{
     background-color: grey;
 }
 #id5{
     background-color: darkslateblue;
 }